In [1]:
import pandas as pd 
import numpy as np
from tensorflow.keras.utils import to_categorical

In [2]:
train = pd.read_csv('../input/Train.csv')
train.head()

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence

In [3]:
train.head()

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence

In [5]:
train["label"] = train["type"].astype('category').cat.codes

In [6]:
train.head()

,Tweet_ID,tweet,type,label
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence,4
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence,4
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence,4
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence,4
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence,4

In [7]:
labels_ord = ['Harmful_Traditional_practice','Physical_violence', 'economic_violence', 'emotional_violence','sexual_violence']

In [8]:
Y = to_categorical(train['label'])

In [9]:
for i in range(len(labels_ord)) :

    train[labels_ord[i]] = Y[:,i]

In [10]:
train.head()

,Tweet_ID,tweet,type,label,Harmful_Traditional_practice,Physical_violence,economic_violence,emotional_violence,sexual_violence
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence,4,0.0,0.0,0.0,0.0,1.0
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence,4,0.0,0.0,0.0,0.0,1.0
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence,4,0.0,0.0,0.0,0.0,1.0
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence,4,0.0,0.0,0.0,0.0,1.0
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence,4,0.0,0.0,0.0,0.0,1.0

In [12]:
train.to_csv("../input/Mytrain.csv" , index=False)